.form-group label {
    color: #747373;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
    color: #fff;
    background: #2bbbad !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.custom-file-label {
    border: 1px solid #2bbbad;
}
